%section#services_signin.services
  %h1 Sign in
  %p You can sign up or sign in using one of your existing accounts at Facebook, Google, Yahoo, MyOpenID and other OpenID services. Please select the provider you want to use:
  #services_list= render "services_list"
