body {
  font-family: arial;
  color: #0c7579;
}
a {
  color: #0c7579;
}
input {
  font-size: 0.5em;
}
.small {
  font-size: 14px;
}
#nav_pages {
  float: left;
  color: black;
}
#nav_user {
  float: right;
  color: black;
}
#nav_pages li,
#nav_user li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
#nav_pages li a,
#nav_user li a {
  color: white;
}
#body {
  width: 878px;
  height: 677px;
  margin: 0px auto;
  background-image: url(/images/buffset.jpg);
  background-repeat: no-repeat;
  text-align: center;
}
#season-number-outside {
  position: relative;
}
#season-number {
  position: absolute;
  right: 150px;
  top: 85px;
  font-size: 80px;
  font-family: 'Walter Turncoat', cursive, arial;
}
.text {
  padding: 170px 60px 0px;
  font-family: 'Walter Turncoat', cursive, arial;
  font-size: 40px;
  line-height: 40px;
}
.user {
  padding: 5px 15px 20px;
  max-width: 200px;
  float: left;
}
.user .handle {
  text-align: center;
  border-bottom: 3px solid #0c7579;
}
.user .handle a {
  text-decoration: none;
}
#current_user .handle {
  color: #c00;
  border-bottom: 3px solid #c00;
}
#edit_current_user a {
  text-decoration: none;
}
.hidden {
  display: none;
}
