body {
  font-family: arial;
}
#nav_user {
  float: right;
}
#nav_user li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
#nav_user li a {
  color: white;
}
#body {
  width: 878px;
  height: 679px;
  margin: 0px auto;
  background-image: url(/images/buffset.jpg);
  background-repeat: no-repeat;
}
.clear {
  clear: both;
}
