.text{:style => 'padding: 100px 0px 0px;'}
  #container{:style => "width: 100%; height: 480px; margin: 0 auto;"}
%script
  :plain
    var series = #{@series.to_json};
    for (var arr in series[0].data) {
      series[0].data[arr][0] = Date.parse(series[0].data[arr][0]);
    }
    $(function(){
      createChart(series);
    });
